[submodule "modules/roles"]
	path = production/modules/roles
	url = git@github.com:attachmentgenie/attachmentgenie-roles.git
[submodule "modules/profiles"]
	path = production/modules/profiles
	url = git@github.com:attachmentgenie/attachmentgenie-profiles.git
[submodule "modules/stdlib"]
	path = production/modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
[submodule "modules/firewall"]
	path = production/modules/firewall
	url = git@github.com:puppetlabs/puppetlabs-firewall.git
[submodule "production/modules/minio"]
	path = production/modules/minio
	url = git@github.com:attachmentgenie/puppet-minio.git
[submodule "production/modules/remote_file"]
	path = production/modules/remote_file
	url = https://github.com/lwf/puppet-remote_file.git
[submodule "production/modules/lvm"]
	path = production/modules/lvm
	url = https://github.com/puppetlabs/puppetlabs-lvm.git
