[submodule "modules/roles"]
	path = production/modules/roles
	url = git@github.com:attachmentgenie/attachmentgenie-roles.git
[submodule "modules/profiles"]
	path = production/modules/profiles
	url = git@github.com:attachmentgenie/attachmentgenie-profiles.git
[submodule "modules/stdlib"]
	path = production/modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
[submodule "modules/firewall"]
	path = production/modules/firewall
	url = git@github.com:puppetlabs/puppetlabs-firewall.git
[submodule "production/modules/minio"]
	path = production/modules/minio
	url = https://github.com/kogitoapp/puppet-minio.git 
[submodule "production/modules/lvm"]
	path = production/modules/lvm
	url = https://github.com/puppetlabs/puppetlabs-lvm.git
[submodule "production/modules/archive"]
	path = production/modules/archive
	url = git@github.com:voxpupuli/puppet-archive.git
[submodule "production/modules/systemd"]
	path = production/modules/systemd
	url = https://github.com/camptocamp/puppet-systemd.git
[submodule "production/modules/gluster"]
	path = production/modules/gluster
	url = https://github.com/voxpupuli/puppet-gluster.git
[submodule "production/modules/ceph"]
	path = production/modules/ceph
	url = https://github.com/openstack/puppet-ceph.git
